<footer class="transparent expand-height">
    <div class="container text-center">
        <ul>
            <li class="distance">
                <a href="https://www.instagram.com/time2share.de/" target="_blank">
                    <i class="text-white fab fa-instagram fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="/imprint.html">Impressum</a>
            </li>
            <li>
                <a href="/data-protection.html">Datenschutzerklärung</a>
            </li>
        </ul>

        © 2018 time2share
    </div>
</footer>